body.layout-3 .main-content {
    padding-top: 100px !important;
  }

body.layout-3 .navbar-bg {
    z-index: 889 !important;
    height: 70px !important;
}

.navbar .nav-link.nav-link-lg div {
    margin-top: 0px !important;
}

.article-header{
    height: 450px !important;
}

.gallery-item{
    object-fit: cover !important;
}