/* body.layout-3 .navbar-bg {
    z-index: 889 !important;
    height: 70px !important;
}

body.layout-2 .main-content {
    padding-top: 107px;
    padding-left: 30px;
    padding-right: 0;
    width: calc(100% - 200px);
} */